<div class="myinfo-container container">
    <p class="not-registered" ng-if="!myInfoCtrl.isRegistered()">Not Signed Up Yet. <a href="#" ui-sref="public.signUp">Sign up Now!</a></p>

    <div class="user-data" ng-if="myInfoCtrl.isRegistered()">

      <h2>Favorite Dish</h2>
      <div class="favorite-dish">
	       <img ng-src="{{myInfoCtrl.apiPath}}/images/{{myInfoCtrl.userData.favorite.short_name}}.jpg" alt="{{myInfoCtrl.userData.favorite.name}}">
         <div class="details">
           <div class="data-row">
             <span class="field">Name:</span>
             <span class="value">{{ myInfoCtrl.userData.favorite.name }}</span>
           </div>
           <div class="data-row">
             <span class="field">Description:</span>
             <span class="value">{{ myInfoCtrl.userData.favorite.description }}</span>
           </div>
         </div>
      </div>


      <h2>User Data</h2>
      <div class="data">
        <div class="data-row">
          <span class="field">First Name: </span>
          <span class="value">{{ myInfoCtrl.userData.firstName }}</span>
        </div>
        <div class="data-row">
          <span class="field">Last Name: </span>
          <span class="value">{{ myInfoCtrl.userData.lastName }}</span>
        </div>
        <div class="data-row">
          <span class="field">Email Address: </span>
          <span class="value">{{ myInfoCtrl.userData.emailAddress }}</span>
        </div>
        <div class="data-row">
          <span class="field">Phone Number: </span>
          <span class="value">{{ myInfoCtrl.userData.phone }}</span>
        </div>
      </div>
    </div>
</div>
